</div>
<footer>
  <div>
  <p>Original version from onepagerules by <a href="http://onepagerules.wordpress.com/">Gaetano Ferrara</a></p>
  <p>Modified by <a href="https://gitlab.com/kdj0c/fasthammer">Jocelyn Falempe</a></p>
  </div>
</footer>
</html>
